* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

header {
  background-color: #eeeeee;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 0 30px;
}

.header-img {
  height: 35px;
}

nav > ul {
  width: 100%;
  min-width: 35vw;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.hero {
  margin-top: 70px;
  height: 190px;
  padding-top: 20px;
  text-align: center;
}

.email-input {
  display: block;
  margin: 20px auto 15px;
  padding: 5px 100px 5px 5px;
}

.email-input:focus,
.email-input:active {
  border-color: #f1c40f;
}

.submit-btn {
  padding: 6px 25px;
  font-weight: 800;
  border: none;
  background-color: #f1c40f;
  color: black;
}

.submit-btn:hover {
  animation-name: btncolor;
  animation-duration: 3s;
}

/* Animation btn hover */
@keyframes btncolor {
  20% {
    background-color: orange;
    color: black;
  }
  100% {
    background-color: rgb(255, 153, 0);
    color: black;
  }
}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 900px;
  width: 100%;
  min-height: 350px;
  height: auto;
  margin: 10px auto 30px auto;
  padding: 10px;
}

.features {
  display: flex;
}

.features-icon {
  width: 20vw;
  font-size: 3rem !important;
  text-align: center !important;
  flex: 1;
  color: #f1c40f;
}

.features-detail {
  flex: 7;
}

.how_it_works {
  text-align: center;
}

.how_it_works .video {
  width: 100%;
  max-width: 560px;
  height: 315px;
}

.pricing {
  max-width: 1000px;
  margin: 60px auto 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.products {
  border: 1px solid black;
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name {
  background-color: #dddddd;
  font-weight: 600;
  width: 100%;
  padding: 15px;
  text-align: center;
}

.product-price {
  padding: 15px;
  font-weight: 700;
  font-size: 1.6rem;
}

.products ul {
  line-height: 30px;
  text-align: center;
}

.products button {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px 30px;
  border: none;
  background-color: #f1c40f;
  color: black;
}

.products button:hover {
  animation-name: btncolor;
  animation-duration: 3s;
}

footer {
  background-color: #dddddd;
  width: 100%;
  max-width: 970px;
  height: 70px;
  margin: 0 auto;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}

.foot-link {
  display: flex;
  gap: 30px;
}

/* Responsive */
@media only screen and (max-width: 800px) {
  .pricing {
    flex-direction: column;
    align-items: center;
  }

  footer {
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .features-container {
    gap: 30px;
  }

  .features {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }
}

@media only screen and (max-width: 675px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  nav > ul {
    justify-content: center;
    gap: 20px;
  }
}
